body{
  background-image: url('./images/background.jpg');
  color:white;
  font-family: 'Russo One', sans-serif;
}
@keyframes introAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin {
  0%,5% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 80% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}


.lucia, .threeD{

  animation: introAnimation 5s ease-out infinite;
}
.lucia{
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 0px;
  
}
.threeD{
  margin-left:575px;
  margin-right:575px;
}

#lu{
  height:200px;
  width:600px;
}

#tD{
  height:200px;
  width:250px;
}

span{
  animation: spin 5s ease-out infinite;
  display: inline-block;

}

#interactiveDesigner{
  margin-left: 380px;
  margin-bottom: 50px;
  font-size: 2em;
  letter-spacing: 0.4em;



}

.intro{
  transform-style: preserve-3d;
  perspective: 1000px;


}
